@model List<Employee>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>
<a href="/Employee/Create" class="btn btn-primary">Create New</a>
<br/>
<br/>
<table class="table table-bordered table-hover table-dark table-striped">
    <tr>
        <th>Name</th>
        <th>Id</th>
        <th>Age</th>
        <th>Salary</th>
        <th>DeptId</th>
        <th></th>
    </tr>
    @foreach(var item in Model)
     {
        <tr>
            <td>@item.Name</td>
            <td>@item.ID</td>
            <td>@item.Age</td>
            <td>@item.Salary</td>
            <td>@item.DeptId</td>
            <td>
                <a href="/Employee/Edit/@item.ID" class="btn btn-success">Edit</a>  |
                <a href="/Employee/Details/@item.ID" class="btn btn-secondary">Details</a>  |
                <a href="/Employee/Delete/@item.ID" class="btn btn-danger" onclick="return confirm('@item.Name will be deleted,Are you sure?');">Delete</a>     
            </td>
        </tr>
     }

</table>
    

